@charset "utf-8";

@mixin transition($obj: all, $time: 0.2s, $type: ease-out) {
	transition: $obj $time $type;
	-moz-transition: $obj $time $type;	
	-webkit-transition: $obj $time $type;	
	-o-transition: $obj $time $type;
}
@mixin transitionProperty($obj) {
	transition-property: $obj;
	-moz-transition-property: $obj;	
	-webkit-transition-property: $obj;	
	-o-transition-property: $obj;
}

@mixin bgsize($width, $height) {
	display: inline-block;
	height: 0;
	width: $width;
	padding-top: $height;
	text-indent: -9999px;
	overflow: hidden;
}

%IEBox {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@mixin bgimg($url) {
	background: url($url) transparent no-repeat center center;
}

@mixin transform($code) {
	transform: $code;
    -webkit-transform: $code;
    -moz-transform: $code;
    -o-transform: $code;
    -ms-transform: $code;
}

@mixin transform-origin($code) {
	transform-origin: $code;
	-ms-transform-origin: $code;
	-o-transform-origin: $code;
	-webkit-transform-origin: $code;
	-moz-transform-origin: $code;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Lato, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
	min-width: 768px;
	background-color: #F5F5F5;
}

a {
	text-decoration: none;
}

input, textarea, button, a {
	outline: none;
}

/* 全局变量 */
$headerH: 55px;
// $themeColor: #4dcbe1;
$themeColor: #03A9F4;
// $themeColor: #77cddc;






.clearfix {
	&:before, &:after {
		content: '';
		display: table;
		clear: both;
	}
} 






